# 1.2 DATAFRAMES

In [2]:
import numpy as np 
import pandas as pd

In [16]:
df = pd.DataFrame({
    'Population': [35.467,63.951,80.94,60.6650,127.061,64.511,318.523],
    'GDP': [1785387.00,
    2833687.00,
    3874437.00,
    2167744.00,
    4602367.00,
    2950039.00,
    17348075.00],
    'Surface': [9984670,
    640679,
    357114,
    301336,
    377930,
    242495,
    9525067],
    'HDI': [0.913,
    0.888,
    0.916,
    0.873,
    0.891,
    0.907,
    0.915],
    'Continent':['America',
    'Europe',
    'Europe',
    'Europe',
    'Asia',
    'Europe', 
    'America'],
    
    },columns=['Population','GDP','Surface','HDI','Continent']
    
)

In [23]:
df.index =['Canada','France','Germany','Italy','Japan','United Kigdom','United States'] #agregar los items en el DataFrame

In [18]:
df.describe()

       Population           GDP       Surface       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Population  7 non-null      float64
 1   GDP         7 non-null      float64
 2   Surface     7 non-null      int64
 3   HDI         7 non-null      float64
 4   Continent   7 non-null      object
dtypes: float64(3), int64(1), object(1)
memory usage: 408.0+ bytes

In [24]:
df

               Population         GDP  Surface    HDI Continent
Canada             35.467   1785387.0  9984670  0.913   America
France             63.951   2833687.0   640679  0.888    Europe
Germany            80.940   3874437.0   357114  0.916    Europe
Italy              60.665   2167744.0   301336  0.873    Europe
Japan             127.061   4602367.0   377930  0.891      Asia
United Kigdom      64.511   2950039.0   242495  0.907    Europe
United States     318.523  17348075.0  9525067  0.915   America

In [25]:
df.loc['France']

Population       63.951
GDP           2833687.0
Surface          640679
HDI               0.888
Continent        Europe
Name: France, dtype: object

In [27]:
df.iloc[1:5]

         Population        GDP  Surface    HDI Continent
France       63.951  2833687.0   640679  0.888    Europe
Germany      80.940  3874437.0   357114  0.916    Europe
Italy        60.665  2167744.0   301336  0.873    Europe
Japan       127.061  4602367.0   377930  0.891      Asia

In [32]:
df.columns

Index(['Population', 'GDP', 'Surface', 'HDI', 'Continent'], dtype='object')

In [33]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kigdom',
       'United States'],
      dtype='object')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Population  7 non-null      float64
 1   GDP         7 non-null      float64
 2   Surface     7 non-null      int64
 3   HDI         7 non-null      float64
 4   Continent   7 non-null      object
dtypes: float64(3), int64(1), object(1)
memory usage: 636.0+ bytes

In [37]:
df.describe()

       Population           GDP       Surface       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [40]:
df.shape

(7, 5)

In [41]:
df.size

35

In [44]:
df.dtypes.value_counts()

float64    3
int64      1
object     1
dtype: int64