# 1.1 INTRODUCTION A PANDAS

In [1]:
import numpy as np 
import pandas as pd

In [25]:
table1 = pd.Series([35.467,63.951,80.94,60.665,127.061,64.511,318.523])
table1

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [26]:
table1.name = 'G7 Population' 
table1

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population, dtype: float64

In [27]:
table1.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [28]:
table1.dtype

dtype('float64')

In [20]:
type(table1.values)

numpy.ndarray

In [21]:
table1[0]

4

In [22]:
table1[1]

5

In [29]:
table1.index

RangeIndex(start=0, stop=7, step=1)

In [35]:
table1.index =({
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kigdom',
    'United States'
})

In [36]:
table1

Germany           35.467
United States     63.951
Italy             80.940
Japan             60.665
United Kigdom    127.061
France            64.511
Canada           318.523
Name: G7 Population, dtype: float64

In [43]:
pd.Series(table1, index = ['France','Japan'])

France    64.511
Japan     60.665
Name: G7 Population, dtype: float64

In [79]:
table1.iloc[:2]

Germany          35.467
United States    63.951
Name: G7 Population, dtype: float64

In [83]:
table1.iloc[0]

35.467

In [87]:
table1['Japan': 'Canada']

Japan             60.665
United Kigdom    127.061
France            64.511
Canada           318.523
Name: G7 Population, dtype: float64

In [89]:
table1 > 70

Germany          False
United States    False
Italy             True
Japan            False
United Kigdom     True
France           False
Canada            True
Name: G7 Population, dtype: bool

In [92]:
table1[table1 > 70]

Italy             80.940
United Kigdom    127.061
Canada           318.523
Name: G7 Population, dtype: float64

In [96]:
table1.mean()   #calcula el promedio

107.30257142857144

In [97]:
table1[table1 > table1.mean()]

United Kigdom    127.061
Canada           318.523
Name: G7 Population, dtype: float64

In [101]:
table1.std()  #calcula la desviaciÃ³n estandar

97.24996987121581

In [106]:
table1[(table1 > table1.mean() - table1.std()/2)  | (table1 > table1.mean() + table1.std() / 2)]

United States     63.951
Italy             80.940
Japan             60.665
United Kigdom    127.061
France            64.511
Canada           318.523
Name: G7 Population, dtype: float64

In [109]:
np.log(table1)   #logaritmo

Germany          3.568603
United States    4.158117
Italy            4.393708
Japan            4.105367
United Kigdom    4.844667
France           4.166836
Canada           5.763695
Name: G7 Population, dtype: float64

In [69]:
#otra forma de crear un diccionario
diccionario = pd.Series([30.6,
           30.7,
           30.2, 
           29.5],
           index = ['Baja California', 'Norte', 'Noreste','Oriente']   
 )

In [70]:
diccionario

Baja California    30.6
Norte              30.7
Noreste            30.2
Oriente            29.5
dtype: float64

In [71]:
diccionario.iloc[0]

30.6

In [72]:
diccionario.iloc[3]

29.5

In [75]:
#ejemplo del curso 
certificates_earned = pd.Series(
    [8,2,5,6],
    index = ['Tom','Kris','Ahmad','Beau']
)
certificates_earned

Tom      8
Kris     2
Ahmad    5
Beau     6
dtype: int64

In [111]:
print(certificates_earned[certificates_earned > 5])

Tom     8
Beau    6
dtype: int64

In [112]:
print(certificates_earned > 5)

Tom       True
Kris     False
Ahmad    False
Beau      True
dtype: bool